h1 {
    color: black;
    font-family: comic sans;
}
.portfolio{
    img{
        float: right: ;
        
    }
}
@media screen and (min-width: 480px) {
    body {
        background-color: rgb(47, 225, 248);
        color: white;
        width: 50%;
        height: 220px;
        position: relative;
        justify-content: space-evenly;
        align-items: center;
    }
}
  